@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }
  *{padding: 0px;margin: 0px; box-sizing: border-box; vertical-align: baseline;}

body {
    font-family: 'Poppins' , Pretendard , sans-serif;
    overflow-x: hidden;
    font-size: 17px;
    min-width: 320px;
    color: #222222;
}
a {text-decoration: none; line-height: 1.5em; word-break: keep-all;}
ul,li {list-style: none;}
h2, h3 , h4{letter-spacing: -0.06rem; font-weight: 700;}
h2, h3 , h4 , p , span , label{display: block; word-break: keep-all; vertical-align: baseline; border: 0; line-height: 1.5em;}
label{vertical-align: middle; cursor: pointer;}
#wrap {width: 100%;}

.go-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 60px;
    bottom: 60px;
    font-weight: 400;
    font-size: 28px;
    color: white;
    border-radius: 5px;
    background-color: #3056a1;
    visibility: hidden;
    z-index: 20;
    opacity: 0;
    transition: .3s;
}
.go-to-top.show {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}
.go-to-top-link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.go-to-top::before {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1;
    transform: translate(-50% , -50%);
}
/* header 부분 */
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(255, 255, 255 , .2);
    z-index: 1500;
    transition: .3s;
}
.header.trans-header{
    height: 80px;
    background-color: white;
    box-shadow: 10px 0 15px 0 rgba(0, 0, 0, .1);
}
.header .header-inner {
    display: flex;
    position: relative;
    max-width: 1840px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center; 
    transition: .3s;
}
.header .logo {
    width: 125px;
    height: 30px;
    background-image: url(../image/logo_white.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.header.trans-header .logo {
    background-image: url(https://d01.wifidosirak.com/tong/images/common/logo.png);
}
.header .logo a{
    display: block;
    height: 100%;
}
.header .header-gnb {
    max-width: 900px;
    width: 100%;
    height: 100%;
}
.header .gnb {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.header .gnb-menu {
    display: flex;
    position: relative;
    height: 100%;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.header .gnb-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header .gnb-text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: white;
}
.header.trans-header .gnb-text {
    color: #222222;
}
.header .gnb-link > .gnb-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: .3s;
}
.header.trans-header .gnb-link > .gnb-text::after {
    background-color: black;
}
.header .gnb-link:hover > .gnb-text::after {
    opacity: 1;
    width: 100%;
}
/* slider banner 부분 */
.banner-section {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../image/banner_img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% center;
}
section.banner-section .main-btn-wrap {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.main-btn-wrap #main-btn-prev , .main-btn-wrap #main-btn-next  {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    margin-right: 10px;
    text-indent: -99;
    cursor: pointer;
    background-color: rgba(255, 255, 255 , .2);
}
.main-btn-wrap #main-btn-prev i {
    opacity: .3;
    transition: .2s;
}
.main-btn-wrap #main-btn-prev:hover > i {
    opacity: 1;
}
.main-btn-wrap #main-btn-next:hover > i {
    opacity: 1;
}
.main-btn-wrap button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    opacity: .3;
    text-align: center;
    transition: .3s;
}
.banner-section .banner-inner {
    position: absolute;
    max-width: 1480px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    z-index: 100;
}

.banner-text {
    color: white;
}
.banner-text #banner-title {
    font-family: 'Godo' , 'Notokr';
    font-size: 74px;
    line-height: 1.3;
    margin: 20px 0 12px;
}
.banner-text #banner-description {
    opacity: .9;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.banner-text #visual-btn {
    display: flex;
    width: 220px;
    height: 65px;
    font-size: 17px;
    padding: 0 45px 0 50px;
    margin-top: 50px;
    color:white;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}
.banner-text #visual-btn i {
    font-size: 16px;
}
.banner-text .list-wrap {
    margin-top: 90px;
}
.banner-text #visual-btn i {
    display: block;
    width: 16px;
    height: 16px;
}
section.banner-section .banner-inner .banner-text .list-wrap {
    margin-top: 90px;
}
section.banner-section .banner-inner .banner-text .list-wrap .list-btn{
    display: flex;
}
section.banner-section .banner-inner .banner-text .list-wrap .list-btn .number-btn{
    position: relative;
    width: 80px;
    height: 27px;
    overflow: hidden;
    padding: 0 10px;
    z-index: 1;
}
section.banner-section .banner-inner .banner-text .list-wrap .list-btn .number-btn .btn{ 
    width: 100%;
    text-align: left;
    color: rgb(255, 255, 255 , .5);
    background-color: transparent;
    border: none;
}
section.banner-section .banner-inner .banner-text .list-wrap .list-btn .number-btn .under-bar{ 
    position: absolute;
    left: -100%;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: white;

}
section.banner-section .banner-inner .banner-text .list-wrap .list-btn .number-btn .under-bar::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 100%;
    bottom: 0px;
    background-color: rgb(255, 255, 255 , .3);
}
/*main-service 섹션*/
section.main-section {
    margin: 180px 0 210px;
}
.inner {
    max-width: 1460px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.inner .main-service-title {
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
}
.span-color {
    color: #3a68b2;
}
.inner .main-service-title span {
    display: inline-block;
}
.main-content-wrap {
    display: inline-block;
    margin: -10px;
}
.main-content {
    float: left;
    padding: 10px;
    width: 50%;
}
.content-link {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
}
.img-wrap {
    font-size: 0;
    line-height: 1;
}
.main-service-img {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    transition: .3s;
}
.content-link:hover .main-service-img {
    transform: scale(1.09) rotate(1deg);
    opacity: .8;
    transition: .3s;
}
.desc-wrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px;
}
.desc-wrap .main-title {
    font-size: 26px;
    margin-bottom: 3px;
}
.desc-wrap .main-description {
    font-size: 17px;
    font-weight: 300;
    opacity: .8;
}
.desc-wrap .view-more-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    width: 100%;
    height: 40px;
    padding: 0 15px 0 20px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255, .3);
}
.main-about {
    margin-bottom: 240px;
}
.main-about .inner {
    display: flex;
}
.main-about-title {
    width: 50%;
    font-size: 44px;
    line-height: 1.35;
}
.main-about-title span , .main-about-desc-wrap span{
    display: inline-block;
}
.main-about-desc-f {
    margin-bottom: 45px;
}
.main-about-desc-wrap {
    padding: 0 10px;
    font-size: 28px;
}
.main-about-desc-s {
    font-size: 16px;
    margin-bottom: 25px;
}
.main-about-desc-t {
    font-size: 16px;
}
.main-about-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    padding: 0 10px;
    font-weight: 600;
    max-width: 140px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #222222;
    border-bottom: 2px solid #222222;
}
.main-about-link i {
    position: relative;
    right: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    transition: .3s;
}
.main-about-link:hover > i {
    right: -5px;
}
.three-banner {
    border-top: 1px solid #dadfe6;
}
.three-banner .inner {
    margin: 0;
    padding: 0;
}
.banner-wrap {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.banner-list {
    float: left;
    flex-shrink: 0;
    overflow: hidden;
    height: 100%;
}
.banner-link {
    display: block;
    position: relative;
    width: 506.333px;
    height: 400px;
    padding: 30px;
    border-right: 1px solid #dadfe6;
    background-color: #EEEEEE;
    transition: .3s;
}
.banner-link:hover{
    background-color: #3891b2;
}
.banner-link:hover > * {
    color: white;
    border-color: white;
}
.banner-list:nth-child(2) > .banner-link:hover {
    background-color: #db574f;
}
.banner-list:nth-child(3) > .banner-link:hover {
    background-color: #f0b23a;
}
.banner-list:last-child a {
    border: none;
}
.banner-title {
    font-size: 28px;
    color: #222222;
    margin-bottom: 14px;
}
.banner-desc {
    font-size: 17px;
    color: #222222;
    margin-bottom: 42px;
    opacity: .8;
}
.banner-view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    font-size: 15px;
    color: #222222;
    font-weight: 600;
    border-bottom: 2px solid #222222;
}
.banner-img {
    position: absolute;
    right: -30px;
    bottom: 10px;
}
#footer {
    position: relative;
    z-index: 10;
    background-color: #222222;
    padding: 60px 0;
    font-size: 100%;
    font-weight: 500;
}
.comp-info-wrap {
    margin-bottom: 57px;
}
.comp-info-wrap:last-child {
    margin-bottom: 0;
}
.company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.info-detail{
    position: relative;
    font-size: 15px;
    color: #666666;
    padding: 0 18px;
    line-height: 1.7;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #444444;
    margin-top: 50px;
}
.call {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #666666;
    line-height: 1.7;
}
.call .call-num {
    line-height: 1.5em;
    color: #666666;
}
.call-num:hover {
    text-decoration: underline;
}
li.info-detail::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 12px;
    transform: translateY(-50%);
    background-color: #444444;
}
.ab-banner {
    position: relative;
    height: 120vh;
    max-height: 1200px;
    background-image: url(../image/ab-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.ab-banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.ab-banner-title {
    font-family: 'Godo';
    font-size: 74px;
    font-weight: 700;
    line-height: 1.35;
    margin: 150px 0 30px 0;
}
.ab-banner-desc {
    font-size: 22px;
    opacity: .8;
}
.arrow-wrap {
    display: flex;
    position: relative;
    margin: 30px auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll-down {
    position: relative;
    display: flex;
    justify-content: center;
    width: 28px;
    height: 36px;
    margin-bottom: 15px;
}
.banner-arrow{
    position: absolute;
}
.banner-arrow:nth-child(1) {
    top: 0;
    animation-name: first;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.banner-arrow:nth-child(2) {
    top: 10px;
    animation-name: second;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
.banner-arrow:nth-child(3) {
    top: 20px;
    animation-name: third;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.arrow-text {
    font-size: 15px;
}
.ab-content-info {
    padding-top: 235px;
}
.ab-content {
    position: relative;
    min-height: 1050px;
    background-color: #091020;
    background-image: url(../image/graph_bg_effect.png);
    background-repeat: no-repeat;
}
.content-bg {
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
}
.ab-bg-gradient {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200%;
    height: 100%;
    transform: translate(0% , 0%);
    background-image: linear-gradient(to right , transparent 5% , #091020 15%);
}
.ab-content.active .ab-bg-gradient {
    animation: gradient-mv 1.5s;
    animation-fill-mode: forwards;
}
.ab-info-text-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    color: white;
    margin: 0 -60px -54px;
}
.ab-info-text-wrap > *{
    z-index: 999;
}
.ab-info-text {
    flex-shrink: 0;
    width: 50%;
    padding: 0 60px 54px;
}
.ab-info-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    opacity: .5;
    border-bottom: 1px solid rgb(255, 255, 255 , .4);
}
.ab-info-desc {
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}
.info-from {
    color: white;
    font-size: 18px;
    margin-top: 60px;
}
.ab-service-content .inner {
    padding: 190px 20px 200px;
}
.ab-service-content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.ab-service-content .main-btn-wrap {
    display: flex;
    justify-content: right;
}
.ab-service-content-title {
    font-size: 46px;
    font-weight: 700;
}
.ab-service-content-desc {
    font-size: 24px;
    opacity: .8;
    margin-top: 5px;
    font-weight: 600;
}
.ab-service-content .main-btn-wrap #main-btn-prev , .ab-service-content .main-btn-wrap #main-btn-next  {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    margin-right: 10px;
    text-indent: -99;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}
.ab-service-content .main-btn-wrap #main-btn-prev i ,.ab-service-content .main-btn-wrap #main-btn-next i {
    font-size: 24px;
    color: black;
}
.slide-content-ul {
    display: flex;
    justify-content: flex-start;
}
.slide-content {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.slide-content:first-child {
    padding-left: 0;
}
.slide-content:last-child {
    padding-right: 0;
}
.slide-content-link {
    color: #222222;
    text-decoration: none;
}
.slide-content-img {
    max-width: 335px;
    width: 100%;
    height: 100%;
    background-image: url(../image/about_slide_img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.slide-content-title {
    font-size: 22px;
    margin: 20px 0 8px;
    font-weight: 700;
}
.slide-content-desc {
    font-size: 16px;
    opacity: .8;
}
.inq-banner {
    background-color: #8975f9;
    height: 650px;
}
.inq-banner .inner {
    display: flex;
    align-items: flex-end;
    padding: 0 20px 60px 20px;
    color: white;
    font-weight: 700;
}
.inq-banner-title {
    font-family: 'Godo';
    font-size: 54px;
}
.inq-banner-desc {
    font-size: 20px;
    font-weight: 200;
    margin: 10px 0 90px;
}
.inq-banner-text-wrap {
    width: 50%;
}
.inq-banner-img-wrap {
    width: 50%;
}
.inq-banner-img {
    display: block;
    max-width: 100%;
}
.insert-info {
    padding-bottom: 57px;
}
.insert-info .inner {
    max-width: 1020px;
}
.insert-info .inner > form {
    margin: 143px 0;
}
.insert-info .inner form input , .insert-info .inner form label {
    display: block;
}
.insert-info .inner form label {
    font-size: 18px;
    font-weight: 600;
}
.insert-info .inner form label::after {
    content: '*';
    position: relative;
    font-size: 18px;
    top: 3px;
    left: 5px;
    color: red;
}
.insert-info .inner form input {
    width: 100%;
    height: 65px;
    padding: 0 20px;
    margin-top: 6px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #222222;
}
#email-1 {
    width: 280px;
}
#email-2 {
    width: 360px;
}
.input-box {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.select-DNS {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 65px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222222;
    margin-top: 6px;
    padding: 0 20px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.email-dropdown-menu {
    font-family: "Poppins", "Pretendard", sans-serif;
    position: absolute;
    top: calc(100% - 2px);
    right: 0;
    width: 280px;
    height: 0;
    padding: 30px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    background-color: white;
    border: 1px solid #222222;
    line-height: 2;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    z-index: 10;
}
.email-dropdown-menu::-webkit-scrollbar {
    display: none;
}
.info-dropdown-menu::-webkit-scrollbar {
    display: none;
}
.email-dropdown-menu .dns a {
    color: #666666;
}
.select-DNS::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -3px;
    border-top: 6px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.insert-comp-info {
    position: relative;
}
.insert-comp-type-view {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #222222;
}
.insert-comp-type-view::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -3px;
    border-top: 6px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.info-dropdown-menu {
    font-family: "Poppins", "Pretendard", sans-serif;
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    height: 0;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    border: 1px solid #222222;
    background-color: white;
    text-align: left;
    line-height: 2;
    font-size: 15px;
    font-weight: 400;
    transition: .5s;
    opacity: 0;
    z-index: 10;
}
.info-dropdown-menu .info-inner a {
    color: #666666;
}
#insert-content {
    min-height: 160px;
    padding: 20px;
}
#check-info {
    font-family: 'Poppins' , Pretendard , sans-serif;
    width: 100%;
    min-height: 160px;
    padding: 30px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: #999999;
    vertical-align: middle;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    resize: none;
}
.policy-wrap {
    position: relative;
    width: 100%;
    height: 70px;
}
#policy-ck-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
    margin-top: 10px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color .3s;
}
#policy-ck-bg:hover {
    background-color: #3a68b2;
}
#policy-ck {
    display: none;
}
#policy-ck:checked ~ #policy-ck-bg {
    background-color: #3a68b2;
}
.insert-info .inner form .policy-wrap #policy-ck-bg::after {
    content: "";
}
.policy-inner {
    width: 100%;
    height: 100%;
}
.submit-btn {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    margin-top: 200px;
    font-size: 18px;
    border: none;
    transition: .3s;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}
.mem-banner {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(#5cb1f4, #88d0fb);
}
.mem-banner .inner {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.banner-text-wrap .banner-text {
    font-family: 'Godo';
    margin-top: 130px;
    line-height: 1.3;
    font-size: 54px;
}
.banner-img{
     position: absolute;
     bottom: 0;
     right: 20px;
}
.bene-section {
    background-color: #f5fcff;
    padding: 170px 0 205px;
    text-align: center;
}
.bene-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 45px;
}
.bene-three-banner-wrap {
    display: flex;
    margin: 0 -10px;
}
.bene-banner {
    width: calc(100%/3);
    padding: 0 10px;
    margin-bottom: 10px;
}
.bene-img-wrap {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background-color: #9bddfe;
    border-radius: 20px;
    font-size: 100%;
}
.point-section {
    padding: 120px 0;
}
.point-title {
    width: 360px;
    font-size: 42px;
    text-align: center;
    font-weight: 700;
    line-height: 1.45;
    margin: 0 auto;
    margin-bottom: 50px;
}
.highlight {
    display: inline-block;
    position: relative;
}
.highlight::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: -2px;
    width: 105%;
    height: 50%;
    background-color: #e2e9fa;
    z-index: -1;
}
.bene-banner:nth-child(2) .bene-img-wrap {
    background-color: #f4c0cc;    
}
.bene-banner:nth-child(3) .bene-img-wrap {
    background-color: #d8bbef;    
}
.bene-banner-title {
    margin: 28px 0 18px;
    font-size: 22px;
    font-weight: 500;
}
.bene-banner-desc {
    font-size: 16px;
    opacity: .8;
    line-height: 1.3;
}
.member-type-wrap {
    display: flex;
    justify-content: center;
}
.member-type {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 5px 5px 40px rgb(58, 104, 178, .2);
    opacity: 0;
    transform: translateY(150px);
}
section.point-section.active .member-type:nth-child(1){
    animation-name: circle-mv1;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
section.point-section.active .member-type:nth-child(2){
    animation-name: circle-mv2;
    animation-duration: .5s;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
section.point-section.active .member-type:nth-child(3){
    animation-name: circle-mv3;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.mem-visual {
    position: relative;
}
.mem-visual .inner {
    overflow: hidden;
}
.circle-wrap {
    display: flex;
    position: relative;
    height: 500px;
    justify-content: center;
    align-items: center;
    bottom: -252px;
}
.circle-wrap li {
    position: absolute;
    border-radius: 50%;
}
.circle-1 {
    width:  0px;
    height: 0px;
    background-color: #f5f7fb;
}
.circle-2 {
    width:  0px;
    height: 0px;
    background-color: #ebf0f7;
}
.circle-3 {
    width:  0px;
    height: 0px;
    background-color: #e2e9f3;
}
section.point-section.active ~ section.mem-visual .circle-wrap .circle-1 {
    animation-name: visual-circle-mv1;
    animation-duration: .5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
section.point-section.active ~ section.mem-visual .circle-wrap .circle-2 {
    animation-name: visual-circle-mv2;
    animation-duration: .5s;
    animation-delay: 1.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
section.point-section.active ~ section.mem-visual .circle-wrap .circle-3 {
    animation-name: visual-circle-mv3;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.mem-visual-img-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.mem-visual-effect , .mem-visual-hand{
    position: absolute;
    opacity: 0;
    transform: translateY(500px);
}
.mem-visual-hand {
    left: calc(50% - 164px);
    bottom: -50px;
}
.mem-visual-effect {
    left: calc(50% - 319px);
    bottom: 37px;
}
section.point-section.active ~ section.mem-visual .mem-visual-hand {
    animation-name: hand-mv;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
section.point-section.active ~ section.mem-visual .mem-visual-effect {
    animation-name: effect-mv;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes first {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes second {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes third {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes circle-mv1 {
    0% {
        transform: translateY(150px);
    }
    25% {
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes circle-mv2 {
    0% {
        transform: translateY(150px);
    }
    25% {
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes circle-mv3 {
    0% {
        transform: translateY(150px);
    }
    25% {
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes visual-circle-mv1 {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    100% {
        opacity: 1;
        width: 1000px;
        height: 1000px;
    }
}
@keyframes visual-circle-mv2 {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    100% {
        opacity: 1;
        width: 820px;
        height: 820px;
    }
}
@keyframes visual-circle-mv3 {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    100% {
        opacity: 1;
        width: 640px;
        height: 640px;
    }
}
@keyframes hand-mv {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes effect-mv {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes gradient-mv {
    0% {
        transform: translate(0% , 0%);
    }
    100% {
        transform: translate(100% , 0%);
    }
}
@media(max-width: 1280px){
    .header {
        height: 90px;
    }
    .header .logo {
        width: 150px;
    }
    .header .header-gnb {
        width: 800px;
    }
    section.banner-section .main-btn-wrap #main-btn-prev, section.banner-section .main-btn-wrap #main-btn-next {
        width: 50px;
        height: 50px;
    }
    .banner-text #banner-title {
        font-size: 50px;
    }
    .banner-text #banner-description {
        font-size: 20px;
    }
    .banner-text #visual-btn {
        width: 180px;
        height: 55px;
        font-size: 16px;
        margin-top: 30px;
        padding: 0 20px;
    }
}
@media(max-width: 1024px){
    .header {
        height: 70px;
    }
    .header .header-gnb {
        display: none;
    }
    .header .logo {
        width: 120px;
    }
    .banner-text #banner-title {
        font-size: 42px;
    }
    .banner-text #banner-description {
        font-size: 17px;
    }
    section.banner-section .banner-inner .banner-text .list-wrap .list-btn {
        margin-top: 40px;
    }
    .main-btn-wrap button i {
        opacity: 1;
        font-size: 20px;
    }
}
@media(max-width: 640px){
    .banner-text #banner-title {
        font-size: 36px;
    }
    .banner-text #banner-description {
        font-size: 17px;
    }
    section.banner-section .banner-inner .banner-text .list-wrap .list-btn .number-btn{
        width: 50px;
    }
}