@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url('./initial.min.css');
@import url('../lib/swiper-bundle.min.css');
@import url('./userTop.css');
@import url('./userBottom.css');
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }
section.main-section {
    margin: 180px 0 210px;
}
.inner {
    max-width: 1460px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.inner .main-service-title {
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
}
.span-color {
    color: #3a68b2;
}
.inner .main-service-title span {
    display: inline-block;
}
.main-content-wrap {
    display: inline-block;
    margin: -10px;
}
.main-content {
    float: left;
    padding: 10px;
    width: 50%;
}
.content-link {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
}
.img-wrap {
    font-size: 0;
    line-height: 1;
}
.main-service-img {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    transition: .3s;
}
.content-link:hover .main-service-img {
    transform: scale(1.09) rotate(1deg);
    opacity: .8;
    transition: .3s;
}
.desc-wrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px;
}
.desc-wrap .main-title {
    font-size: 26px;
    margin-bottom: 3px;
}
.desc-wrap .main-description {
    font-size: 17px;
    font-weight: 300;
    opacity: .8;
}
.desc-wrap .view-more-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    width: 100%;
    height: 40px;
    padding: 0 15px 0 20px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255, .3);
}
.main-about {
    margin-bottom: 240px;
}
.main-about .inner {
    display: flex;
}
.main-about-title {
    width: 50%;
    font-size: 44px;
    line-height: 1.35;
}
.main-about-title span , .main-about-desc-wrap span{
    display: inline-block;
}
.main-about-desc-f {
    margin-bottom: 45px;
}
.main-about-desc-wrap {
    padding: 0 10px;
    font-size: 28px;
}
.main-about-desc-s {
    font-size: 16px;
    margin-bottom: 25px;
}
.main-about-desc-t {
    font-size: 16px;
}
.main-about-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    padding: 0 10px;
    font-weight: 600;
    max-width: 140px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #222222;
    border-bottom: 2px solid #222222;
}
.main-about-link i {
    position: relative;
    right: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    transition: .3s;
}
.main-about-link:hover > i {
    right: -5px;
}
.three-banner {
    border-top: 1px solid #dadfe6;
}
.three-banner ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.three-banner ul li {
    width: 33.3333%;
    overflow: hidden;
    height: 100%;
}
.three-banner ul li:nth-child(2) > .banner-link:hover {
    background-color: #db574f;
}
.three-banner ul li:nth-child(3) > .banner-link:hover {
    background-color: #f0b23a;
}
.three-banner ul li:last-child a {
    border: none;
}
.three-banner ul li a {
    display: block;
    position: relative;
    height: 400px;
    padding: 30px;
    border-right: 1px solid #dadfe6;
    background-color: #EEEEEE;
    transition: .3s;
}
.three-banner ul li a:hover{
    background-color: #3891b2;
}
.three-banner ul li a:hover > * {
    color: white;
    border-color: white;
}
.three-banner ul li a h4 {
    font-size: 28px;
    color: #222222;
    margin-bottom: 14px;
}
.three-banner ul li a p {
    font-size: 17px;
    color: #222222;
    margin-bottom: 42px;
    opacity: .8;
}
.three-banner ul li a .banner-view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    font-size: 15px;
    color: #222222;
    font-weight: 600;
    border-bottom: 2px solid #222222;
}
.three-banner ul li a img{
    position: absolute;
    right: -30px;
    bottom: 10px;
}